.selected-chat__content-input {
  @include flex(row, flex-start, center);
  &_textarea {
    height: 22px;
    width: 100%;
    overflow: auto;
    outline: 0;
    resize: none;
    border-radius: 8px;
    padding: 10px;
    box-sizing: content-box;
    font-size: 14px;
    border: 1px solid $selectedChatContentColor;
    transition: $defaultTransition;
    &:hover {
      border: 1px solid $selectedChatTextAreaColorHover;
    }
    &:focus {
      border: 1px solid $selectedChatTextAreaColorActive;
      margin-top: -5px;
      height: 27px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-send {
    @include flex(row, center, center);
    position: relative;
    .emoji-picker::v-deep {
      position: absolute;
      bottom: 55px;
      right: 75px;
      width: 370px !important;
      input[type='text'] {
        background-color: unset !important;
      }
      .container-emoji::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
